@model MVCInterProject.Models.Person

<style>
    body {
	    background-color: #7D8CC4;
    }

    .middle {
        margin-left: 500px;
        margin-right: 500px;
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    You have been logged in!
</div>
