@model MVCInterProject.Models.Person

<style>
    body {
	    background-color: #7D8CC4;
    }

    .middle {
        margin-left: 500px;
        margin-right: 500px;
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Login
    <div class="middle">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PerId"/>
            <input type="hidden" asp-for="PerIsAdmin" value="false"/>
            <div class="form-group">
                <label asp-for="PerName" class="control-label"></label>
                <input asp-for="PerName" class="form-control" />
                <span asp-validation-for="PerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerPassword" class="control-label"></label>
                <input asp-for="PerPassword" class="form-control" />
                <span asp-validation-for="PerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
