@model MVCInterProject.Models.Package

<style>
    body {
	    background-color: #7D8CC4;
    }
</style>

@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h4>You have created new account!</h4>
</div>
