@model MVCInterProject.Models.Package

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Package</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PacName" class="control-label"></label>
                <input asp-for="PacName" class="form-control" />
                <span asp-validation-for="PacName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacCreateDate" class="control-label"></label>
                <input asp-for="PacCreateDate" class="form-control" />
                <span asp-validation-for="PacCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PacIsOpen" /> @Html.DisplayNameFor(model => model.PacIsOpen)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PacCloseDate" class="control-label"></label>
                <input asp-for="PacCloseDate" class="form-control" />
                <span asp-validation-for="PacCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacCity" class="control-label"></label>
                <input asp-for="PacCity" class="form-control" />
                <span asp-validation-for="PacCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="Storage" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Storage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
